@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 500ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

/* Select the scrollbar */
::-webkit-scrollbar {
  width: 16px; /* You can adjust the width */
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: black;
}

/* Style the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  @apply bg-primary; /* You can adjust the border radius to make it rounder */
}

.bg-patterns {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23199848' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.gradientColor {
  background-image: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.3) 0px,
      rgba(0, 0, 0, 0.3) 16px,
      transparent 16px,
      transparent 32px,
      rgba(0, 0, 0, 0.08) 32px,
      rgba(0, 0, 0, 0.08) 48px,
      rgba(0, 0, 0, 0.14) 48px,
      rgba(0, 0, 0, 0.14) 64px,
      rgba(0, 0, 0, 0.05) 64px,
      rgba(0, 0, 0, 0.05) 80px,
      transparent 80px,
      transparent 96px,
      rgba(0, 0, 0, 0.21) 96px,
      rgba(0, 0, 0, 0.21) 112px,
      rgba(0, 0, 0, 0.18) 112px,
      rgba(0, 0, 0, 0.18) 128px,
      rgba(0, 0, 0, 0.21) 128px,
      rgba(0, 0, 0, 0.21) 144px,
      rgba(0, 0, 0, 0.29) 144px,
      rgba(0, 0, 0, 0.29) 160px,
      rgba(0, 0, 0, 0.08) 160px,
      rgba(0, 0, 0, 0.08) 176px,
      rgba(0, 0, 0, 0.3) 176px,
      rgba(0, 0, 0, 0.3) 192px,
      rgba(0, 0, 0, 0.23) 192px,
      rgba(0, 0, 0, 0.23) 208px
    ),
    repeating-linear-gradient(
      135deg,
      transparent 0px,
      transparent 3px,
      rgba(0, 0, 0, 0.1) 3px,
      rgba(0, 0, 0, 0.1) 6px,
      rgba(0, 0, 0, 0.03) 6px,
      rgba(0, 0, 0, 0.03) 9px,
      rgba(0, 0, 0, 0.09) 9px,
      rgba(0, 0, 0, 0.09) 12px,
      rgba(0, 0, 0, 0.08) 12px,
      rgba(0, 0, 0, 0.08) 15px,
      rgba(0, 0, 0, 0.1) 15px,
      rgba(0, 0, 0, 0.1) 18px,
      rgba(0, 0, 0, 0.1) 18px,
      rgba(0, 0, 0, 0.1) 21px,
      rgba(0, 0, 0, 0.04) 21px,
      rgba(0, 0, 0, 0.04) 24px,
      transparent 24px,
      transparent 27px,
      rgba(0, 0, 0, 0.03) 27px,
      rgba(0, 0, 0, 0.03) 30px,
      rgba(0, 0, 0, 0.03) 30px,
      rgba(0, 0, 0, 0.03) 33px,
      rgba(0, 0, 0, 0.01) 33px,
      rgba(0, 0, 0, 0.01) 36px,
      rgba(0, 0, 0, 0.1) 36px,
      rgba(0, 0, 0, 0.1) 39px,
      rgba(0, 0, 0, 0.06) 39px,
      rgba(0, 0, 0, 0.06) 42px,
      transparent 42px,
      transparent 45px,
      rgba(0, 0, 0, 0.03) 45px,
      rgba(0, 0, 0, 0.03) 48px,
      rgba(0, 0, 0, 0.05) 48px,
      rgba(0, 0, 0, 0.05) 51px,
      rgba(0, 0, 0, 0.03) 51px,
      rgba(0, 0, 0, 0.03) 54px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.18) 0px,
      rgba(0, 0, 0, 0.18) 14px,
      transparent 14px,
      transparent 28px,
      rgba(0, 0, 0, 0.3) 28px,
      rgba(0, 0, 0, 0.3) 42px,
      rgba(0, 0, 0, 0.25) 42px,
      rgba(0, 0, 0, 0.25) 56px,
      rgba(0, 0, 0, 0.07) 56px,
      rgba(0, 0, 0, 0.07) 70px,
      rgba(0, 0, 0, 0.23) 70px,
      rgba(0, 0, 0, 0.23) 84px,
      rgba(0, 0, 0, 0.02) 84px,
      rgba(0, 0, 0, 0.02) 98px,
      rgba(0, 0, 0, 0.04) 98px,
      rgba(0, 0, 0, 0.04) 112px,
      rgba(0, 0, 0, 0.07) 112px,
      rgba(0, 0, 0, 0.07) 126px,
      rgba(0, 0, 0, 0.21) 126px,
      rgba(0, 0, 0, 0.21) 140px,
      rgba(0, 0, 0, 0.15) 140px,
      rgba(0, 0, 0, 0.15) 154px,
      transparent 154px,
      transparent 168px,
      rgba(0, 0, 0, 0.12) 168px,
      rgba(0, 0, 0, 0.12) 182px,
      rgba(0, 0, 0, 0.13) 182px,
      rgba(0, 0, 0, 0.13) 196px,
      rgba(0, 0, 0, 0.27) 196px,
      rgba(0, 0, 0, 0.27) 210px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.17) 0px,
      rgba(0, 0, 0, 0.17) 14px,
      rgba(0, 0, 0, 0.26) 14px,
      rgba(0, 0, 0, 0.26) 28px,
      rgba(0, 0, 0, 0.06) 28px,
      rgba(0, 0, 0, 0.06) 42px,
      rgba(0, 0, 0, 0.14) 42px,
      rgba(0, 0, 0, 0.14) 56px,
      transparent 56px,
      transparent 70px,
      rgba(0, 0, 0, 0.22) 70px,
      rgba(0, 0, 0, 0.22) 84px,
      rgba(0, 0, 0, 0.1) 84px,
      rgba(0, 0, 0, 0.1) 98px,
      transparent 98px,
      transparent 112px,
      rgba(0, 0, 0, 0.15) 112px,
      rgba(0, 0, 0, 0.15) 126px,
      transparent 126px,
      transparent 140px,
      rgba(0, 0, 0, 0.03) 140px,
      rgba(0, 0, 0, 0.03) 154px,
      rgba(0, 0, 0, 0.03) 154px,
      rgba(0, 0, 0, 0.03) 168px,
      rgba(0, 0, 0, 0.06) 168px,
      rgba(0, 0, 0, 0.06) 182px,
      rgba(0, 0, 0, 0.17) 182px,
      rgba(0, 0, 0, 0.17) 196px,
      rgba(0, 0, 0, 0.2) 196px,
      rgba(0, 0, 0, 0.2) 210px
    ),
    linear-gradient(135deg, rgb(252, 16, 76), rgb(244, 3, 176));
}

.LayoutBackground {
  background-image: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgba(225,29,72, 0.78),rgba(225,29,72, 0.78));
}
